<footer class="footer">
    <div class="container">
        <p>&copy; 2025 Coin Capture. All rights reserved.</p>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<%- include('partials/script') %>
</body>
</html>
