<!-- views/charts.ejs -->
<!doctype html>
<html>

<head>
    <%- include('partials/header.ejs'); %>
</head>

<body>

    <%- include('partials/navbar.ejs', {active: "Please Wait"}); %>
    <div class="content">



        <div class="container">

            <h1>
                <span class="fas fa-chart-line"></span> Charts</h1>

        <div id="linechart"></div>
                
        <% if (user != null) { %>

<%- include('partials/script.ejs'); %>

        </div>
        </div>

        <% if (totalDollarArray) { %>

        <script>
        

Highcharts.chart('linechart', {
    chart: {
        type: 'area'
    },
    title: {
        text: 'Portfolio Value'
    },
    subtitle: {
        text: ''
    },

    /* xAxis: {
        allowDecimals: false,
        labels: {
            formatter: function () {
                return this.value; // clean, unformatted number for year
            }
        }
    }, */
    yAxis: {
        title: {
            text: 'Portfolio Value'
        },
        labels: {
            formatter: function () {
                return this.value / 1000 + 'k';
            }
        }
    },
    tooltip: {
        pointFormat: '{series.name} date <b>{point.y:,.0f}</b><br/>date {point.x}'
    },
   /* plotOptions: {
        area: {
            pointStart: 2018,
            marker: {
                enabled: false,
                symbol: 'circle',
                radius: 2,
                states: {
                    hover: {
                        enabled: true
                    }
                }
            }
        }
    }, */
    series: [{
        name: 'Total Value',
        data: [<%= totalDollarArray %>]}]
});


        
        </script>

<%  } %>

<% } else { %>

<h5>Login or Signup to view charts
    <h5>

        <% } %>

</body>