<!-- views/pleasewait.ejs -->
<!doctype html>
<html>

<head>
    <%- include('partials/header.ejs'); %>
</head>

<body>

    <%- include('partials/navbar.ejs', {active: "Please Wait"}); %>
    <div class="content">



        <div class="container">

            <h1>
                <span class="fa fa-cog"></span> Please wait..</h1>


<%- include('partials/script.ejs'); %>

        </div>
        </div>

</body>