.content { 
    padding-top: 50px;

}


.hidetext { -webkit-text-security: disc; /* Default */ }

.navbar-brand { 
    padding-top: 10px;
    
}

/* change the brand and text color */
.navbar .navbar-brand,
.navbar .navbar-text {
    color: white;
}
/* change the link color */
.navbar-nav .nav-item .nav-link {
    color: lightgray;
}
/* change the color of active or hovered links */
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: white;
}

.navbar-nav li:hover .dropdown-menu {
    display: block;
}

.exchanges-list { 
    width:100%;
    align-items:center;
    display:flex;
    flex-direction:column;
    margin-bottom:1.875rem
}

/* resize images */
.exchanges-list img {
    width: 20%;
    height: auto;
    object-fit: cover;
}